.bottom-banner{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 0;
  
}
.bottom-banner-socials{
  display: flex;
  gap: 45px;
  font-size: .80em;
}