

.header {
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.1);
    padding: 1px;
  }
  .navbar-div {
    
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.1);
    padding: 1px;
  }
  .nav-link-container {
    display: flex;
    /* justify-content: center; */
    gap: 45px;
  }
  .nav-link {
    font-size: medium;
    font-family: 'Helvetica Neue Light','Helvetica Neue' ,sans-serif;
    font-weight: bold;
    color: #333;
  }
  .site-name {
    display: flex;
    justify-content: center;
  }
  .site-name:hover {
    transform: scale(1.05);
  }
  .bottom-banner{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1px solid rgba(0, 0, 0, 0.1);
    
  
  }
  .bottom-banner-socials{
  
    display: flex;
    align-items: center;
    gap: 45px;
    font-size: .80em;
    padding-left: 22.5px;
  
  }
  .bottom-banner-site-links-container {
    display: flex;
    align-items: center;
    gap: 45px;
    font-size: .80em;
    padding-right: 22.5px;
  }
  
  .link-font {
    font-family: 'Helvetica Neue Light','Helvetica Neue' ,sans-serif;
    font-weight: bold;
    /* font-stretch: semi-expanded; */
    /* text-decoration: none; */
    color: #333;
  }
  .logo-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5px;
  }
  .logo {
    width: 150px;
  }
  .link:hover {
    color: rgb(153, 106, 184);
  }
  /* }
  .message-link {
    
  }
  .items-link {
  
  } */