.sub-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: #333;
}
.post-title {
    display: flex;
    font-size: .9rem;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    color: #333;
}
.post-price {
  display: flex;
  font-size: .9rem;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  color: #333;
}


.item-heart-price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 45px;
    padding: 10px;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
}
.carousel-track {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.carousel-item {
    flex: 0 0 auto;
    padding-right: 20px;
    box-sizing: border-box;
}
.carousel-item img {
    height: 16em;
    aspect-ratio: 7 / 8;
    object-fit: cover;
}

  .carousel-container {
    flex: 1;
    padding: 0;
    position: relative;
    
    width: 90vw;
    max-width: 1100px;
    margin: 2rem auto 3rem auto;
    box-sizing: border-box;
    overflow: hidden;
  }

  .carousel-items-container {
    display: flex;   
}

.carousel-nav-button {
    position: absolute;
    top: 35%;
    color: black;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    cursor: pointer;
    z-index: 2;
}

.carousel-nav-button.prev {
    left: 0;
    font-size: 22px;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.679);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 0 8px;
    height: 3.5rem; /* Prevent buttons from stretching */
    width: 2.6rem; 
    align-self: center; /* Center in flex container */
}

.carousel-nav-button.next {
    right: 0;
    font-size: 22px;
    font-weight: 300;
    background-color: rgba(209, 209, 209, 0);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 0 8px;
    height: 3.5rem; /* Prevent buttons from stretching */
    width: 2.6rem; 
    align-self: center; /* Center in flex container */
}
.carousel-title {
    font-size: 1.5rem;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    color: #333;
    margin-bottom: 1rem;
}
