  .nav-container {
    
    position: fixed;
    top: 0;
    width: 100%;
    
    z-index: 1000; /* Ensure it is above other elements */
    background-color: white; /* Ensure background color to cover content behind */
  }
  .header {
    /* position: fixed; */  
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.1);
    padding: 1px;
  }
  .navbar-div {
    /* position: fixed; */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.1);
    padding: 1px;
  }
  .nav-link-container {
    display: flex;
    /* justify-content: center; */
    gap: 45px;
  }
  .nav-link {
    font-size: medium;
    font-family: 'Helvetica Neue Light','Helvetica Neue' ,sans-serif;
    font-weight: bold;
    color: #333;
  }
  .site-name {
    display: flex;
    justify-content: center;
  }
  .site-name:hover {
    transform: scale(1.05);
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5px;
  }
  .logo {
    width: 80px;
  }

  .cart-icon-container {
    position: relative;
  }

  .cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #f9c7ff;
    color: black;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    min-width: 15px;
    text-align: center;
  }